.ubooking{
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.form-control{
  box-shadow: none !important;
  border-color: #ccc !important;
}
.form-control:focus{
  border-bottom: 2px solid #15AAFF !important;
}
.ubooking table.dataTable thead tr th{
  background-color: #15AAFF !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  text-align: center;
}
.ubooking table.dataTable tfoot tr th{
  background-color: #15AAFF !important;
  padding-top: 15px !important;
  text-align: center;
  padding-bottom: 15px !important;
}
.ubooking table.dataTable tfoot tr th input{
  padding-top: 5px !important;
  border-radius: 5px;
  width: 90%;
  border: none;
  border-bottom:2px #333;
  padding-bottom: 5px !important;
  outline: none;
}
.ubooking table.dataTable tfoot tr th input:focus{
  border-bottom:2px red ;
}
.column-filter select{
  height: 33px;
  background-color: transparent;
  box-shadow: none !important;
  border-color: #ccc !important;
}
.ubooking table.dataTable tbody tr td{
  padding-top: 10px !important;
  text-align: center;
  padding-bottom: 10px !important;
}
.ubooking table.dataTable thead .sorting:after,
.ubooking table.dataTable thead .sorting:before,
.ubooking table.dataTable thead .sorting_asc:after,
.ubooking table.dataTable thead .sorting_asc:before,
.ubooking table.dataTable thead .sorting_asc_disabled:after,
.ubooking table.dataTable thead .sorting_asc_disabled:before,
.ubooking table.dataTable thead .sorting_desc:after,
.ubooking table.dataTable thead .sorting_desc:before,
.ubooking table.dataTable thead .sorting_desc_disabled:after,
.ubooking table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
.row{
  margin-top: 10px !important;
  
}
.book-now{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px 10px;
  background-color: #15AAFF;
  color: white;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
}
.book-now1{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px 10px;
  background-color: #15AAFF;
  cursor: not-allowed !important;
  color: white;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
}
.ubooking a{
  font-size: 16px;
  color: white;

}
.uu .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.uu .overlay:target {
  visibility: visible;
  opacity: 1;
}

.uu .popup {
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .mydivs{
  margin-top: 30px;
}
.popup .mydivs input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border: 2px solid #B0B3B9;
}
.popup .mydivs input:focus{
  border: 2px solid #15AAFF;
}
.popup .mydivs select{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  background-color: transparent;
  border: 2px solid #B0B3B9;
}
.popup h2 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
  font-family: "Open Sans",sans-serif;

}
.popup label{
  font-size: small;
  color: grey;
  font-family:"Open Sans", sans-serif;
  font-weight: bold;
  float: left;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup button{
  color:white;
  background-color: #15AAFF;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 16px;
  outline: none;
  border: none;
  border-radius: 45px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  margin-bottom: 28px;
  margin-top: 5px;
}
.popup .content1 {
  max-height: 30%;
  overflow: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}